.layout-default {
  &__header {
    background: #FFFFFF;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;

    // position: fixed;
    // top: 0;
    // right: 0;
    // z-index: 999;
    a {
      text-decoration: none;
    }
  }

  &__accounts {
    position: relative;

    .avatar {
      cursor: pointer;
    }

    .menu {
      position: absolute;
      top: 55px;
      right: -165px;
      width: 200px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
      z-index: 10;
      list-style-type: none;

      li {
        display: flex;
        align-items: center;
        border-radius: 10px;
        height: 40px;
        outline: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          color: #000;
        }
      }

      li:hover {
        background-color: #ddd;

        a {
          color: #333;
        }
      }

    }

  }

  &__logo h2 {
    margin: 0;
    margin-left: 20px;
  }

  &__accounts a {
    margin: 0 10px;
  }

  &__main {
    margin: 100px 0;
  }

  &__footer {
    text-align: center;
    background: #ffffff;
    align-items: center;

    .content {
      border-bottom: 1px #333 solid;

      ul {
        list-style-type: none;
        display: flex;
        align-items: start;
        flex-direction: column;

        li:first-child {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 5px;
          pointer-events: none;
          pointer-events: none;
        }

        li {
          margin-bottom: 4px;
          font-size: 15px;
          color: #000;

          a {
            font-size: 15px;
            color: #000;
          }

          a:hover {
            color: #ffd700;
          }
        }
      }
    }

    .copy-right {
      p {
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

// .layout-default__menu {
//   background-color: #f5f5f5; /* Màu nền */
//   height: 50px;

//   ul {
//     display: flex;
//     justify-content: space-around;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     height: 100%;

//     li {
//       display: flex;
//       align-items: center;
//       margin: 0;
//       padding: 0;
//       a {
//         text-decoration: none;
//         color: #333; /* Màu chữ mặc định */
//         padding: 5px 10px;
//         transition: color 0.3s, background-color 0.3s;
//       }
//       &:hover,
//         &.active {
//           color: #000; /* Màu chữ khi active */
//           background-color: #ffd700; /* Màu vàng khi active */
//         }
//     }
//   }
// }

.layout-default__menu {
  background-color: #f5f5f5; // Màu nền
  height: 40px;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    li {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      position: relative;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #333; // Màu chữ mặc định
        padding: 5px 10px;
        transition: color 0.3s, background-color 0.3s;
      }

      &:hover,
      &.active {
        color: #000; // Màu chữ khi active
        background-color: #ffd700; // Màu vàng khi active
      }

      // Submenu
      .submenu {
        position: absolute;
        list-style: none;
        display: none;
        top: 40px;
        left: 0;
        width: 150px;

        li {
          margin: 0;
          padding: 5px 0;
          background-color: #ddd;

          a {
            color: #333;
            padding: 5px 10px;
            font-size: 14px;

            &:hover {
              color: #fff;
            }
          }

          & {
            background-color: #ccc;
          }

          // Sub-submenu
          .sub-submenu:hover {
            z-index: 100;
            display: block;
          }

          .sub-submenu {
            position: absolute;
            display: none;
            left: 150px;
            list-style: none;
            width: 150px;

            li {
              padding: 5px 20px;

              a {
                color: #333;

                &:hover {
                  color: #fff;
                }
              }

              & {
                background-color: #ccc;
              }
            }
          }

          &:hover>.sub-submenu {
            z-index: 100;
            display: block;
          }
        }
      }

      &:hover>.submenu {
        z-index: 100;
        display: block;
      }
    }
  }
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}