.layout-default {
  &__accounts {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;

    .menu {
      position: absolute;
      top: 55px;
      right: 0px;
      width: 200px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
      z-index: 10;
      list-style-type: none;

      a {
        color: #000;
      }

      li {
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 10px;
        height: 40px;
        outline: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      li:hover {
        background-color: #ddd;

        a {
          color: #333;
        }
      }
    }
  }

  &__footer {
    text-align: center;
    background: #ffffff;
    align-items: center;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px; /* tăng từ 1140px lên để tạo khoảng cách 2 bên */
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px; /* thêm breakpoint cho màn lớn hơn */
  }
}
