.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #FFC234 !important;
  font-size: 14px;
  font-weight: 600;
}

.ant-tabs-card .ant-tabs-tab-btn:hover {
  color: #FFC234 !important; /* Change the color of the active tab text */
  font-size: 14px;
  font-weight: 600;
}

// .ant-tabs-card .ant-tabs-tab-active {
//   background-color: #FFC234 !important; /* Change the background color of the active tab */
// }