.forgot_password {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &_form {
    width: 100%;
    /* Đảm bảo form chiếm toàn bộ chiều rộng container */
  }

  &_form .ant-input-affix-wrapper {
    border-radius: 5px;
    /* Bo góc nhẹ */
  }

  &_form .ant-btn {
    border-radius: 5px;
    /* Bo góc nhẹ cho nút */
    font-size: 1rem;
  }
}

.ant-form-item {
  margin-bottom: 15px;
  /* Giảm khoảng cách giữa các form items */
}

.forgot-form-button {
  width: 100%;
  /* Nút bấm rộng bằng form */
  margin-top: 10px;
}
.forgot{
  font-size: 12px;
  cursor: pointer;
  text-align: right;
}
.forgot:hover{
  color: #FFC234;
}